{
    "NEXT_PUBLIC_API_URL": "http://localhost:8000/v1/",
    "ENV": "local",
    "AUTH_PROVIDER": "keycloak",
    # Not needed for local dev, to verify auth fill out and use real values and set ENV!=local
    "NEXT_PUBLIC_AZURE_CLIENT_ID": "<replace-me>",
    "NEXT_PUBLIC_AZURE_APPLICATION_ID": "<replace-me>",
    "NEXT_PUBLIC_AZURE_LOGIN_URL"="<replace-me>"

    "KEYCLOAK_URL": "http://localhost:8080",
    "KEYCLOAK_REALM": "destiny",
    "KEYCLOAK_CLIENT_ID": "destiny-auth-client"
}
