name: Test Docker Build

on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - "**.md"
      - "**.rst"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: .
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker Image
        uses: docker/build-push-action@v5.1.0
        with:
          push: false
          tags: test
  build-ui:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: ui/
      - id: filter-ui
        uses: dorny/paths-filter@v3
        with:
          filters: |
            ui:
              - 'ui/**'
      - name: Build UI Docker Image
        if: steps.filter-ui.outputs.ui == 'true'
        uses: docker/build-push-action@v5.1.0
        with:
          context: ./ui
          file: ./ui/Dockerfile
          push: false
          tags: ui-test
