name: Deploy to Container App Jobs

concurrency:
  # No parallel deployments in the same environment
  group: ${{ github.workflow }}-${{ inputs.environment }}
  # Automated workflows have their own concurrency limitations
  # so allow cancellation of this workflow if manually triggered.
  cancel-in-progress: true

on:
  workflow_call:
    inputs:
      environment:
        type: string
        description: environment to deploy to
        required: true
      image_tag:
        type: string
        description: image tag to deploy
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  deploy-application:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: "Az CLI login"
        uses: azure/login@v2.1.0
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy built image to app container
        uses: Azure/container-apps-deploy-action@v1
        with:
          acrName: ${{vars.REGISTRY_NAME}}
          containerAppName: ${{vars.CONTAINER_APP_NAME}}
          resourceGroup: ${{vars.RESOURCE_GROUP}}
          containerAppEnvironment: ${{vars.CONTAINER_APP_ENV}}
          imageToDeploy: ${{vars.REGISTRY_NAME}}.azurecr.io/${{vars.APP_NAME}}:${{ inputs.image_tag }}

      - name: Deploy built image to tasks container
        uses: Azure/container-apps-deploy-action@v1
        with:
          acrName: ${{vars.REGISTRY_NAME}}
          containerAppName: ${{vars.CONTAINER_APP_TASKS_NAME}}
          resourceGroup: ${{vars.RESOURCE_GROUP}}
          containerAppEnvironment: ${{vars.CONTAINER_APP_ENV}}
          imageToDeploy: ${{vars.REGISTRY_NAME}}.azurecr.io/${{vars.APP_NAME}}:${{ inputs.image_tag }}

  deploy-container-apps-jobs:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: "Az CLI login"
        uses: azure/login@v2.1.0
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: Update scheduled container app jobs images
        uses: Azure/cli@v2.0.0
        with:
          inlineScript: |
            JOBS=$(az containerapp job list \
              --resource-group ${{vars.RESOURCE_GROUP}} \
              --query "[?tags.app=='${{vars.APP_NAME}}' && tags.environment=='${{ inputs.environment }}' && tags.\"job-type\"=='scheduled'].name" \
              --output tsv)

            if [ -z "$JOBS" ]; then
              echo "No scheduled jobs found"
              exit 0
            fi

            for JOB_NAME in $JOBS; do
              echo "Updating job: $JOB_NAME"
              az containerapp job update \
                --name "$JOB_NAME" \
                --resource-group ${{vars.RESOURCE_GROUP}} \
                --image ${{vars.REGISTRY_NAME}}.azurecr.io/${{vars.APP_NAME}}:${{ inputs.image_tag }}
            done

      - name: Update database migrator job image and command
        uses: Azure/cli@v2.0.0
        with:
          inlineScript: |
            az containerapp job update \
              --name "db-migrator-${{ vars.ENVIRONMENT_NAME }}" \
              --resource-group ${{vars.RESOURCE_GROUP}} \
              --image ${{vars.REGISTRY_NAME}}.azurecr.io/${{vars.APP_NAME}}:${{ inputs.image_tag }} \
              --command alembic upgrade head

      - name: Update elasticsearch index migrator job image and command
        uses: Azure/cli@v2.0.0
        with:
          inlineScript: |
            az containerapp job update \
              --name "es-index-migrator-${{ vars.ENVIRONMENT_NAME }}" \
              --resource-group ${{vars.RESOURCE_GROUP}} \
              --image ${{vars.REGISTRY_NAME}}.azurecr.io/${{vars.APP_NAME}}:${{ inputs.image_tag }} \
              --command echo "Empty Command"
          # We reset the command to empty as the azure portal has a poor manual command update UI.
          # So we want the default container command to be something that doesn't trigger a migration.

  deploy-ui:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: "Az CLI login"
        uses: azure/login@v2.1.0
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy built UI image to UI container app
        uses: Azure/container-apps-deploy-action@v1
        with:
          acrName: ${{vars.REGISTRY_NAME}}
          containerAppName: ${{vars.CONTAINER_APP_UI_NAME}}
          resourceGroup: ${{vars.RESOURCE_GROUP}}
          containerAppEnvironment: ${{vars.CONTAINER_APP_ENV}}
          imageToDeploy: ${{vars.REGISTRY_NAME}}.azurecr.io/${{vars.APP_NAME}}-ui:${{ inputs.image_tag }}

  migrate-database:
    runs-on: ubuntu-latest
    needs: deploy-container-apps-jobs
    environment: ${{ inputs.environment }}
    steps:
      - name: "Az CLI login"
        uses: azure/login@v2.1.0
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: Trigger database migrations
        uses: Azure/cli@v2.0.0
        with:
          inlineScript: |
            az containerapp job start \
              --name "db-migrator-${{ vars.ENVIRONMENT_NAME }}" \
              --resource-group ${{vars.RESOURCE_GROUP}}
