name: Deploy to Container App Jobs

concurrency:
  # Allow only one active workflow run per environment
  group: ${{ github.workflow }}-${{ inputs.environment }}
  cancel-in-progress: true

on:
  workflow_call:
    inputs:
      environment:
        type: string
        description: environment to deploy to
        required: true
      image-tag:
        type: string
        description: image tag to deploy
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  deploy-container-apps-jobs:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: "Az CLI login"
        uses: azure/login@v2.1.0
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: Update scheduled container app jobs images
        uses: Azure/cli@v2.0.0
        with:
          inlineScript: |
            JOBS=$(az containerapp job list \
              --resource-group ${{vars.RESOURCE_GROUP}} \
              --query "[?tags.app=='${{vars.APP_NAME}}' && tags.environment=='${{ inputs.environment }}' && tags.\"job-type\"=='scheduled'].name" \
              --output tsv)

            if [ -z "$JOBS" ]; then
              echo "No scheduled jobs found"
              exit 0
            fi

            for JOB_NAME in $JOBS; do
              echo "Updating job: $JOB_NAME"
              az containerapp job update \
                --name "$JOB_NAME" \
                --resource-group ${{vars.RESOURCE_GROUP}} \
                --image ${{vars.REGISTRY_NAME}}.azurecr.io/${{vars.APP_NAME}}:${{ inputs.image-tag }}
            done

      - name: Update database migrator job image and command
        uses: Azure/cli@v2.0.0
        with:
          inlineScript: |
            az containerapp job update \
              --name "db-migrator-${{ vars.ENVIRONMENT_NAME }}" \
              --resource-group ${{vars.RESOURCE_GROUP}} \
              --image ${{vars.REGISTRY_NAME}}.azurecr.io/${{vars.APP_NAME}}:${{ inputs.image-tag }} \
              --command alembic upgrade head

      - name: Update elasticsearch index migrator job image and command
        uses: Azure/cli@v2.0.0
        with:
          inlineScript: |
            az containerapp job update \
              --name "es-index-migrator-${{ vars.ENVIRONMENT_NAME }}" \
              --resource-group ${{vars.RESOURCE_GROUP}} \
              --image ${{vars.REGISTRY_NAME}}.azurecr.io/${{vars.APP_NAME}}:${{ inputs.image-tag }} \
              --command echo "Empty Command"
          # We reset the command to empty as the azure portal has a poor manual command update UI.
          # So we want the default container command to be something that doesn't trigger a migration.
