name: Deploy to Development

concurrency:
  # No parallel runs allowed
  group: deploy-development
  # Don't queue runs, just apply latest
  cancel-in-progress: true

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      environment: development

  deploy:
    needs: build
    uses: ./.github/workflows/deploy.yml
    with:
      environment: development
      image_tag: ${{ needs.build.outputs.image_tag }}
