name: "Render Sphinx Documentation"

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "**.rst"

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Graphviz
        run: |
          sudo apt-get update
          sudo apt-get install -y graphviz libgraphviz-dev

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.7.14"
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install the project including the docs dependency
        run: uv sync --locked --group docs

      - name: Copy .env.example to .env
        run: cp .env.example .env

      - name: Sphinx build
        run: |
          uv run sphinx-build -b html docs docs/html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/html/
          force_orphan: true
