name: Promote to Production

concurrency: promote

on: workflow_dispatch

permissions:
  id-token: write
  contents: read

jobs:
  deploy-production:
    if: github.ref == 'refs/heads/main' # Only run on main
    name: "Deploy Container"
    runs-on: ubuntu-latest
    environment: production
    outputs:
      image_tag: ${{ steps.vars.outputs.sha_short }}
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: .

      - name: "Az CLI login"
        uses: azure/login@v2.1.0
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: Set job env
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Deploy built image to app container
        uses: Azure/container-apps-deploy-action@v1
        with:
          acrName: ${{vars.REGISTRY_NAME}}
          containerAppName: ${{vars.CONTAINER_APP_NAME}}
          resourceGroup: ${{vars.RESOURCE_GROUP}}
          containerAppEnvironment: ${{vars.CONTAINER_APP_ENV}}
          imageToDeploy: ${{vars.REGISTRY_NAME}}.azurecr.io/${{vars.APP_NAME}}:${{ steps.vars.outputs.sha_short }}

      - name: Deploy built image to tasks container
        uses: Azure/container-apps-deploy-action@v1
        with:
          acrName: ${{vars.REGISTRY_NAME}}
          containerAppName: ${{vars.CONTAINER_APP_TASKS_NAME}}
          resourceGroup: ${{vars.RESOURCE_GROUP}}
          containerAppEnvironment: ${{vars.CONTAINER_APP_ENV}}
          imageToDeploy: ${{vars.REGISTRY_NAME}}.azurecr.io/${{vars.APP_NAME}}:${{ steps.vars.outputs.sha_short }}

      - name: Deploy built UI image to UI container app
        uses: Azure/container-apps-deploy-action@v1
        with:
          acrName: ${{vars.REGISTRY_NAME}}
          containerAppName: ${{vars.CONTAINER_APP_UI_NAME}}
          resourceGroup: ${{vars.RESOURCE_GROUP}}
          containerAppEnvironment: ${{vars.CONTAINER_APP_ENV}}
          imageToDeploy: ${{vars.REGISTRY_NAME}}.azurecr.io/${{vars.APP_NAME}}-ui:${{ steps.vars.outputs.sha_short }}

  deploy-to-container-app-jobs:
    needs: deploy-production
    uses: ./.github/workflows/deploy-to-container-app-jobs.yml
    with:
      environment: production
      image-tag: ${{ needs.deploy-production.outputs.image_tag }}

  migrate-database:
    runs-on: ubuntu-latest
    needs: deploy-to-container-app-jobs
    environment: production
    steps:
      - name: "Az CLI login"
        uses: azure/login@v2.1.0
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
      - name: Trigger database migrations
        uses: Azure/cli@v2.0.0
        with:
          inlineScript: |
            az containerapp job start \
              --name "db-migrator-${{ vars.ENVIRONMENT_NAME }}" \
              --resource-group ${{vars.RESOURCE_GROUP}}
